<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Natural Language Processing via API</title>
    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
        </header>

        <main>
            <section>
                <p>Submit an article or blog link below to have it evaluated by Aylien's Natural Language Processing API</p>
                <p>The content will be evaluated on several factors including: polarity, subjectivity etc</p>
            </section>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="url" type="text" name="input" value="" placeholder="Enter URL here">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            <section>

            <section>
                <h2>Results</h2>
                <ul>
                    <li id="polarity"></li>
                    <li id="polarity-confidence"></li>
                    <li id="subjectivity"></li>
                    <li id="subjectivity-confidence"></li>
                    <li id="summary"></li>
                </ul>
                <section>
                    <p>Full Article/Blog Text</p>
                    <div id='full-text'>

                    </div>
                </section>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

    </body>
</html>
