@import 'variables.scss';

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,500&display=swap');

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    background-color: $bg-color;
    color: $font-color;
}


/*Sections*/

section {
    margin: 40px auto;
}

#description-sec {
    max-width: 75%;
    font-size: 15px;
}

#description-sec a {
    text-decoration: none;
    color: $link-color;
}

#form-sec {
    max-width: 85%;
}

#API-results-sec {
    display: flex;
    max-width: 80%;
    padding: 0;
    font-size: 17px;
}


/*Inside Results Section*/

#result-container, #text-container {
    width: 100%;
    // border: 1px solid;
    padding: 0 5%;
    margin: 0 3%;
}

#api-explain {
    margin: 15px 50px;
}

#results-list {
    list-style: none;
    margin:15px;

}

#full-text {
    overflow: scroll;
    height: 200px;
    padding-left: 10px;
}

